@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

// If need, change your variables before importing Bulma
$family-primary: "Khand";

//$navbar-background-color: #f6dacc;
$navbar-item-color: #6b3234;
$navbar-item-hover-background-color: #6b3234;
$navbar-item-hover-color: white;
$navbar-item-img-max-height: 6rem;
$footer-background-color: #6b3234;
$footer-color: white;
$menu-label-color: white;
$menu-item-hover-color: white;

@import "~bulma/bulma.sass";
